In [1]:
sc

In [6]:
pwd 'test.txt'

'/home/ubuntu'

In [7]:
rdd = sc.textFile('file:///home/ubuntu/test.txt')

In [8]:
# 문제 0번
# 생성한 rdd를 collect()를 이용해 리스트로 결과를 보여주세요
rdd.collect()

['a is abracadabra',
 'a is amy',
 'b is betman',
 'b is bread',
 'c is cat',
 'c is chocolate',
 'd is daddy',
 'e is elephant',
 'f is f',
 'g is game',
 'h is home',
 'i is idiot',
 'j is juliet',
 'j is jam',
 'k is kim gwang yeong',
 'k is korea',
 'l is lima',
 'l is line',
 'l is league of legends',
 'm is mother',
 'm is mommy',
 'n is november',
 'o is oh my god abcdefghijklmnopqrstuvwxyz']

In [15]:
# 문제 1번
# 각 레코드를 map 함수를 적용해서 (레코드의 첫번째 글자, 레코드, 레코드의 길이) 가 나오도록 만들어보세요
temp = rdd.map(lambda word:(word[0], word, len(word)))
temp.collect()

[('a', 'a is abracadabra', 16),
 ('a', 'a is amy', 8),
 ('b', 'b is betman', 11),
 ('b', 'b is bread', 10),
 ('c', 'c is cat', 8),
 ('c', 'c is chocolate', 14),
 ('d', 'd is daddy', 10),
 ('e', 'e is elephant', 13),
 ('f', 'f is f', 6),
 ('g', 'g is game', 9),
 ('h', 'h is home', 9),
 ('i', 'i is idiot', 10),
 ('j', 'j is juliet', 11),
 ('j', 'j is jam', 8),
 ('k', 'k is kim gwang yeong', 20),
 ('k', 'k is korea', 10),
 ('l', 'l is lima', 9),
 ('l', 'l is line', 9),
 ('l', 'l is league of legends', 22),
 ('m', 'm is mother', 11),
 ('m', 'm is mommy', 10),
 ('n', 'n is november', 13),
 ('o', 'o is oh my god abcdefghijklmnopqrstuvwxyz', 41)]

In [27]:
# 문제 2번
# 위에서 만든 것을 가지고 레코드의 길이를 기준으로 오름차순으로 정렬을 해보세요
temp2 = temp.sortBy(lambda word: word[2])
temp2.collect()

[('f', 'f is f', 6),
 ('a', 'a is amy', 8),
 ('c', 'c is cat', 8),
 ('j', 'j is jam', 8),
 ('g', 'g is game', 9),
 ('h', 'h is home', 9),
 ('l', 'l is lima', 9),
 ('l', 'l is line', 9),
 ('b', 'b is bread', 10),
 ('d', 'd is daddy', 10),
 ('i', 'i is idiot', 10),
 ('k', 'k is korea', 10),
 ('m', 'm is mommy', 10),
 ('b', 'b is betman', 11),
 ('j', 'j is juliet', 11),
 ('m', 'm is mother', 11),
 ('e', 'e is elephant', 13),
 ('n', 'n is november', 13),
 ('c', 'c is chocolate', 14),
 ('a', 'a is abracadabra', 16),
 ('k', 'k is kim gwang yeong', 20),
 ('l', 'l is league of legends', 22),
 ('o', 'o is oh my god abcdefghijklmnopqrstuvwxyz', 41)]

In [28]:
# 문제 3번
# 이번에는 내림차순으로 정렬을 해보세요
max_val = temp.max()[2]
temp3 = temp.sortBy(lambda word: (max_val - word[2]))
# temp.sortBy(lambda word: word[2], False)
temp3.collect()

[('o', 'o is oh my god abcdefghijklmnopqrstuvwxyz', 41),
 ('l', 'l is league of legends', 22),
 ('k', 'k is kim gwang yeong', 20),
 ('a', 'a is abracadabra', 16),
 ('c', 'c is chocolate', 14),
 ('e', 'e is elephant', 13),
 ('n', 'n is november', 13),
 ('b', 'b is betman', 11),
 ('j', 'j is juliet', 11),
 ('m', 'm is mother', 11),
 ('b', 'b is bread', 10),
 ('d', 'd is daddy', 10),
 ('i', 'i is idiot', 10),
 ('k', 'k is korea', 10),
 ('m', 'm is mommy', 10),
 ('g', 'g is game', 9),
 ('h', 'h is home', 9),
 ('l', 'l is lima', 9),
 ('l', 'l is line', 9),
 ('a', 'a is amy', 8),
 ('c', 'c is cat', 8),
 ('j', 'j is jam', 8),
 ('f', 'f is f', 6)]

In [33]:
# 문제 4번
# 문제 0번의 rdd를 가지고 제일 앞의 글자를 가지고 groupBy를 적용해 보세요 (groupBy된 결과 출력은 실습 참고!!)
rdd.collect()
temp4 = rdd.groupBy(lambda line:line[0]).collect()
temp4
for el in temp4:
    print(list(el[1]))

['b is betman', 'b is bread']
['c is cat', 'c is chocolate']
['d is daddy']
['g is game']
['h is home']
['i is idiot']
['j is juliet', 'j is jam']
['l is lima', 'l is line', 'l is league of legends']
['a is abracadabra', 'a is amy']
['e is elephant']
['f is f']
['k is kim gwang yeong', 'k is korea']
['m is mother', 'm is mommy']
['n is november']
['o is oh my god abcdefghijklmnopqrstuvwxyz']

In [34]:
# 문제 5번
# 문제 0번의 rdd를 가지고 제일 앞의 글자를 key로 하는 키-값 rdd를 만들어보세요
temp5 = rdd.keyBy(lambda line:line[0])
temp5.collect()

[('a', 'a is abracadabra'),
 ('a', 'a is amy'),
 ('b', 'b is betman'),
 ('b', 'b is bread'),
 ('c', 'c is cat'),
 ('c', 'c is chocolate'),
 ('d', 'd is daddy'),
 ('e', 'e is elephant'),
 ('f', 'f is f'),
 ('g', 'g is game'),
 ('h', 'h is home'),
 ('i', 'i is idiot'),
 ('j', 'j is juliet'),
 ('j', 'j is jam'),
 ('k', 'k is kim gwang yeong'),
 ('k', 'k is korea'),
 ('l', 'l is lima'),
 ('l', 'l is line'),
 ('l', 'l is league of legends'),
 ('m', 'm is mother'),
 ('m', 'm is mommy'),
 ('n', 'n is november'),
 ('o', 'o is oh my god abcdefghijklmnopqrstuvwxyz')]

In [35]:
# 문제 6번
# 위에서 생성한 키-값 rdd를 가지고 각 키에 대한 레코드의 수를 출력해주세요 (hint countByKey)
temp5.countByKey()

defaultdict(int,
            {'a': 2,
             'b': 2,
             'c': 2,
             'd': 1,
             'e': 1,
             'f': 1,
             'g': 1,
             'h': 1,
             'i': 1,
             'j': 2,
             'k': 2,
             'l': 3,
             'm': 2,
             'n': 1,
             'o': 1})